.gradle
build/
out/
.kotlin
TTD.txt
secrets
http-client.private.env.json
vapi2.conf
.DS_Store

.run/
secrets/
.claude/worktrees

!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
